/* 
 * AUTHOR: 		Andre Basson	
 * COURSE: 		Compsci 345
 * ASSIGNMENT:	3, Task 2 (Design Prototype Implementation)
 * YEAR: 		2016 s1
 */

 body {
 	background-color: #DFE3EE;
 	font-family: sans-serif;
 }
 #header {
 	background-color:#3B5998;
 	color:white;
 	text-align:center;
 	padding:5px;
 }
#navBar {
	/*list-style-type: none;				*/
	display: inline;
	background-color: #F7F7F7;				
	margin: 0;
	padding: 0;
	border-color: #B3B3B3;	
	border-width: 5px;
}
#navBar ul {
	list-style-type: none;
	position: relative;
	top: 1px;
	overflow: hidden;
	background-color: #F7F7F7;
	border-color: #B3B3B3;	
	border-width: 5px;	
}
#navBar li{
	float: left;
	display: block;
	color: #3B5998;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid #D3D3D3;
}
#navBar li:last-child {
	border-right: none;
	/*border-right: 1px solid #b3b3A3;*/
}
#navBar li:hover:not(.active) {
	background-color: #8B9DC3;
}
/*
#navBar li:active {
	background-color: #8B9DC3;
}
*/
.active {
	/*background-color: #4CAF50;*/
	border-bottom: blue;
}
#sectionWrapper {
	background-color: #F7F7F7;
	/*width: 900px;*/
	height: 600px;
	/*float: right;*/
	margin-left: 205px;
}
#section {
	/*width:350px;*/				
	float: center;
	padding:10px; 
}
#aside {
	display: block;
	float: right;						
}

#sideBar {
	float: left;
	width: 200px;
	height: 600px;
	background-color: #F7F7F7;	
}

#currentStatus, #activeRooms {
	padding-right: 20px; /*10px;*/
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: #F7F7F7;
	color: #3B5998;	
}
#currentStatusContent {	
	background-color: #F7F7F7;								
	color: #262626;
}
#activeRoomContent {
	background-color: #F7F7F7;								
	color: #262626;
}
#activeRooms {
	border-top: 1px solid #D3D3D3;
}

.homeScreenButtons {
	width: 100%;
	height: 100%;				
	max-width: 200px;
	max-height: 200px;
	color: white;
	background-color: #8B9DC3;
}
.roomsScreenButtons {
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 200px;
	color: white;
	background-color: #8B9DC3;
}			
.imgPower, .imgLight, .imgThermometre, .imgLock, .imgBlinds {
	height: 20px;
	width: 20px;
	margin: 0px;
}
#footer {
	position: fixed;
	bottom: 5px;
	width: 100%;	

	background-color: #3B5998;
	color:white;
	clear:both;
	text-align:center;
	/*text-align:right;*/
	padding:5px; 

	/*to keep it at the bottom*/
	/*position: absolute;
	right: 0;
	bottom: 0;
	left: 0;*/
}
/* THE FOLLOWING IS FOR THE ROOM CONTROL SLIDER/SWITCH ONLY 
 *	ref. http://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_forms_select_switch
 * ---------------------------------------------------------
 */ 
 /* The switch - the box around the slider */
 .switch {
 	position: relative;
 	display: inline-block;
 	width: 60px;
 	height: 34px;
 }

 /* Hide default HTML checkbox */
 .switch input {display:none;}

 /* The slider */
 .slider {
 	position: absolute;
 	cursor: pointer;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	background-color: #ccc;
 	-webkit-transition: .4s;
 	transition: .4s;
 }

 .slider:before {
 	position: absolute;
 	content: "";
 	height: 26px;
 	width: 26px;
 	left: 4px;
 	bottom: 4px;
 	background-color: white;
 	-webkit-transition: .4s;
 	transition: .4s;
 }

 input:checked + .slider {
 	background-color: #2196F3;
 }

 input:focus + .slider {
 	box-shadow: 0 0 1px #2196F3;
 }

 input:checked + .slider:before {
 	-webkit-transform: translateX(26px);
 	-ms-transform: translateX(26px);
 	transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
 	border-radius: 34px;
 }

 .slider.round:before {
 	border-radius: 50%;
 }
 /* -------------------------end of slider/switch------------------------- */
			
